<!DOCTYPE html>
<html lang="<%= @page.language_code %>">
<head>
  <%= render "alchemy/pages/meta_data" %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header style="display: flex; justify-content: flex-end">
    <%= render_navigation %>
    <%= language_links %>
  </header>
  <%= yield %>
  <footer><%= render_elements only: 'footer' %></footer>
  <%= render "alchemy/edit_mode" %>
</body>
</html>
